<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="FineUI" type="FineUI.ConfigSection, FineUI"/>
  </configSections>

  <connectionStrings>
    <add name="FineOffice" connectionString="Data Source=.\SQL2005;Initial Catalog=FineOfficeEmpty;User ID=sa;Password=sa" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <!-- 可用的配置项（这里列的都是默认值）: Language="zh_CN" AjaxTimeout="60" EnableAjax="true" Theme="blue" FormMessageTarget="qtip"
  FormOffsetRight="20" FormLabelWidth="100" FormLabelSeparator="：" IconBasePath="~/icon" EnableAjaxLoading="true" AjaxLoadingType="default"
  CustomTheme="" CustomThemeBasePath="~/theme" -->

  <FineUI EnableBigFont="true" DebugMode="true" />

  <system.web>
    <httpRuntime requestValidationMode="2.0" useFullyQualifiedRedirectUrl="true" executionTimeout="120" maxRequestLength="1048576"/>   
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
      </controls>
    </pages>
    <httpModules>
      <add name="FineUIScriptModule" type="FineUI.ScriptModule, FineUI"/>
    </httpModules>

    <httpHandlers>
      <add verb="GET" path="res.axd" type="FineUI.ResourceHandler, FineUI"/>
    </httpHandlers>

    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>